@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('http://fonts.googleapis.com/css?family=Ubuntu');
@import url('http://fonts.googleapis.com/css?family=Lobster|Cabin:400,700');
@import url('http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic');
@import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,700');
@import url('http://fonts.googleapis.com/css?family=Signika:400,600');
@import url('http://fonts.googleapis.com/css?family=Lato:100,300');

body {
	padding-top: 60px;
	padding-bottom: 0px;
	color: #DCDBDB;
	font-size: 14px;
}

.navbar-fixed-top .container {
	width: 680px !important;
}

h1, h2, h3 {
	font-family: 'Lato', sans-serif !important;
	color: #E67E22;
	font-weight: 100;
	-webkit-text-stroke: .5px;
}

h4 { 
	color: #FFF;
	font-family:'Lato', serif !important;
}

p {
	line-height: 30px;
	text-align: justify;
}

.logo {
	background: url('/assets/images/logo.png') no-repeat 0 0 transparent;
	height: 210px;
	width: 136px;
	margin: 20px 0 0 110px;
	float: left;
}

#content h2, #content h1{
	color: @orange !important;
	font-weight: 100;
}

#container .row {
	min-height: 500px;
}

.row  {
	margin-top: 30px;
}

.row .span5 {
	margin-left: 50px;
}

header .row {
	width: 745px;
	margin: auto;
}

section {
	min-height: 540px;
}

.container .row {
	margin-left: 0 !important;
}

#footer h1 {
	color: #E07934;
	margin-bottom: 30px;
}

#footer {
	color: white;
	background-color: #DBDBDB;
	min-height: 260px;
	margin-top: 40px;
	box-shadow: inset 0px 4px 10px 0px rgba(19, 19, 19, 0.75);
	moz-box-shadow: inset 0px 4px 10px 0px rgba(19, 19, 19, 0.75);
}

#footer .row {
	margin-top: 0;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background: url('/assets/images/icon-arrow-up-E07934.png') no-repeat 0 0 transparent;
    color: #fff;
    width: 48px;
	height: 48px;
}

/******************************************************************************/
/***** TABLA DE POSICIONES ***************************************************/
#posTable {
	width: 570px;
	padding: 0 0 10px 0;
	margin: auto;
}

#posTable h2 {
	text-transform: capitalize;
	margin: 0 0 0 15px;
	display:inline;
	line-height: 40px;
	color: #F2F2F2;
	font-family: 'Lato', sans-serif !important;
	font-weight: 100 !important;
}

#posTable .header {
	background-color: #E07934;
	height: 40px;
}

.pos-orange {
	background-color: #E07934 !important;
	color: #070707 !important;
}

.PTheadRow {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	height: 40px;
	line-height: 40px;
	color: #E07934;
	border-bottom: 4px solid #E07934;
}

.PTHR_a {
	width: 240px;
	display:inline;
	float:left;
	text-align:center;
}

.PTHR_b, .PTHR_c, .PTHR_d, .PTHR_e, .PTHR_f, .PTHR_g, .PTHR_h, .PTHR_i {
	width: 41px;
	display:inline;
	float:left;
	text-align:center;
}

.PTHR_i {
	border-right: none !important;
}
			
.PTbodyRow {
	height: 40px;
	line-height: 40px;
	background-color: #313131;
	font-family: 'Droid Sans', sans-serif;
	font-size: 11px;
	clear: both;
	color: #DCDBDB;
}

.PTbodyRow:nth-child(odd) {
	background-color: #515151;
}

.PTBR_a {
	width: 40px;
	display: inline;
	float: left;
	text-transform: uppercase;
	text-align: center;
	border-right: 1px solid #3D3D3D;
	height: 40px;
}

.PTBR_b {
	width: 200px;
	display:inline;float:left;
	text-transform:uppercase;
	text-align:center;
	height: 40px;
}

.PTBR_c {
	background-color: #E07934;
	border-right: 0 !important;
	color: #070707 !important;
}

.PTBR_c, .PTBR_d , .PTBR_e, .PTBR_f, .PTBR_g, .PTBR_h, .PTBR_i, .PTBR_j {
	width:40px;
	display:inline;
	float:left;
	text-transform: uppercase;
	text-align: center;
	border-right:1px solid #3D3D3D;
	height: 40px;
}
	
.PTBR_j {
	border-right: 0 !important;
}

/******************************************************************************/

.promotion {
	background-color: #E2B23C;
	color: #3D3D3D;
}

.relegation {
	background-color: #E23939;
	color: #3D3D3D;
}

.fixture {
	width: 744px;
	margin: 0 auto;
}

.fixture ul  li.number {
	width: 30px;
	font-size: 14px;
	background-color: #E07934;
	border-bottom-color: #E07934;
	border-right-color: #E07934;
}

.fixture ul  li.team {
	width: 200px;
	padding: 0 10px 0;
	font-size: 14px;
	font-weight: 300;
}

.fixture ul  li.result {
	width: 40px;
	font-size: 16px;
	color: #E07934;
	background-color: #F0F0F0;
	border-bottom-color: #F0F0F0;
	border-right-color: #F0F0F0;
	font-weight: 800;
}

.fixture ul li.date {
	width: 100px;
	border-left: 1px solid #5D5D5D;
	border-right: 1px solid #5D5D5D;
}

.fixture ul  li.link {
	width: 80px;
	font-family: 'Lobster';
	letter-spacing: 1px;
	font-size: 15px;
}

ul.scores {
	width: 625px;
	min-height: 40px;
	margin: 0 auto 0;
	background-color: #313131;
}

.tall {
	height: 84px;
	line-height: 84px;
}

ul.scores li {
	display: inline;
	line-height: 40px;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	color: #F2F2F2;
	border-right: 1px solid #3D3D3D;
	text-transform: uppercase;
}

ul.scores li.score {
	width: 40px;
	text-align: center;
}

ul.scores li.team-goals {
	width: 70px;
	text-align: center;
	font-size: 48px;
	font-family: 'Open Sans';
	height: 80px;
	line-height: 75px;
	color: #E07934;
	background-color: #FFF;
	border-color: #FFF;
}

ul.scores li.player {
	width: 180px;
	padding: 0 10px;
}

ul.scores li.goals {
	width: 70px;
	text-align: center;
	text-transform: lowercase;
}

ul.scores li.team {
	background-color: #E07934;
	width: 221px;
	padding: 0 10px;
	font-size: 16px;
	font-family: 'Open Sans';
	height: 80px;
	line-height: 75px;
	border-color: white;
	text-align: center;
}

.row #scores > :nth-child(odd) {
	background-color: #515151;
}

.row ul li:last-child {
	border-right: 0 !important;
}

ul.title.scores > li {
	border-bottom: 4px solid white;
}

.list {
	margin: auto;
}

.list ul {
	float: left;
	background-color: #313131;
	margin: 0;
	clear: both;
	text-align: center;
	font-size: 13px;
}

.list > ul:nth-child(1) {
}

.list > ul:nth-child(odd) {
	background: #464646;
}

.list ul:last-child {
}

.list ul > li {
	display: block;
	float: left;
	height: 42px;
	margin: 0;
	line-height: 42px;
	width: 150px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: 300;
}

.list ul > li:last-child {
	border-right: 1px solid #131313;
}

.list ul.title {
	background: #1A1A1A;
}

.list ul.title > li {
	border-bottom: 4px solid #E07934;
}

.list > ul li h1 {
	font-size: 20px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans' !important;
	font-weight: 300 !important;
}

/***********************/
.players {
	width: 450px;
}
