@()
<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">La Naranja Mecánica</a>
				
				<div class="nav-collapse" id="main-menu">
					<ul class="nav" id="main-menu-left">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Torneo Apertura 2013<b class="caret"></b></a>
							<ul class="dropdown-menu" id="swatch-menu">
								<li><a href="/apertura/2013/1">Fecha 1 - Descanso Verde</a></li>
								<li><a href="/apertura/2013/2">Fecha 2 - Hacha y Tiza</a></li>
								<li><a href="/apertura/2013/3">Fecha 3 - Los Mismos de Siempre</a></li>
								<li><a href="/apertura/2013/4">Fecha 4 - Aguilas de Niupi</a></li>
								<li><a href="/apertura/2013/5">Fecha 5 - Pelos FC</a></li>
								<li><a href="/apertura/2013/6">Fecha 6 - Cristal FC</a></li>
								<li><a href="/apertura/2013/7">Fecha 7 - Paletas Tristes</a></li>
								<li><a href="/apertura/2013/8">Fecha 8 - Flojo Licuado</a></li>
								<li><a href="/apertura/2013/9">Fecha 9 - La Venosa</a></li>
								<li><a href="/apertura/2013/10">Fecha 10 - La Pelota no Dobla </a></li>
								<li><a href="/apertura/2013/11">Fecha 11 - Simpato</a></li>
								<li><a href="/apertura/2013/12">Fecha 12 - Humildad y Talento</a></li>
								<li><a href="/apertura/2013/13">Fecha 13 - Smirnoff FC</a></li>
								<li><a href="/apertura/2013/14">Fecha 14 - Tarmogoyf FK</a></li>
								<li><a href="/apertura/2013/15">Fecha 15 - Matangas</a></li>
								<li><a href="/apertura/2013/16">Fecha 16 - Rolito</a></li>
								<li><a href="/apertura/2013/17">Fecha 17 - Las Mellizas Hot</a></li>
							</ul>
						</li>
						<li><a id="swatch-link" href="/estadisticas">Estadisticas</a></li>
						<li class="dropdown" id="preview-menu">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Amistosos<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/amistoso/hacha-y-tiza">Hacha Y Tiza</a></li>
							</ul>
						</li>
						<li><a id="swatch-link" href="/fotos">Fotos</a></li>
						<li><a id="swatch-link" href="/datos">Algunos datos</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>