@()
<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				
				<a class="brand" href="/">La Naranja Mec&aacute;nica</a>
				
				<div class="nav-collapse" id="main-menu">
					<ul class="nav" id="main-menu-left">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Torneo Apertura 2013<b class="caret"></b></a>
							<ul class="dropdown-menu" id="swatch-menu">
								<li><a href="/apertura-2013-fecha-1-vs-descanso-verde">Fecha 1 - Descanso Verde</a></li>
								<li><a href="/apertura-2013-fecha-2-vs-hacha-y-tiza">Fecha 2 - Hacha y Tiza</a></li>
								<li><a href="/apertura-2013-fecha-3-vs-los-mismos-de-siempre">Fecha 3 - Los Mismos de Siempre</a></li>
								<li><a href="/apertura-2013-fecha-4-vs-las-aguilas-de-niupi">Fecha 4 - Aguilas de Niupi</a></li>
								<li><a href="/apertura-2013-fecha-5-vs-pelos-fc">Fecha 5 - Pelos FC</a></li>
								<li><a href="/apertura-2013-fecha-6-vs-cristal-fc">Fecha 6 - Cristal FC</a></li>
								<li><a href="/apertura-2013-fecha-7-vs-paletas-tristes">Fecha 7 - Paletas Tristes</a></li>
								<li><a href="/apertura-2013-fecha-8-vs-flojo-licuado">Fecha 8 - Flojo Licuado</a></li>
								<li><a href="/apertura-2013-fecha-9-vs-la-venosa">Fecha 9 - La Venosa</a></li>
								<li><a href="/apertura-2013-fecha-10-vs-la-pelota-no-dobla">Fecha 10 - La Pelota no Dobla </a></li>
								<li><a href="/apertura-2013-fecha-11-vs-simpato">Fecha 11 - Simpato</a></li>
								<li><a href="/apertura-2013-fecha-12-vs-humildad-y-talento">Fecha 12 - Humildad y Talento</a></li>
								<li><a href="/apertura-2013-fecha-13-vs-smirnoff-fc">Fecha 13 - Smirnoff FC</a></li>
								<li><a href="/apertura-2013-fecha-14-vs-tarmogoyf-fK">Fecha 14 - Tarmogoyf FK</a></li>
								<li><a href="/apertura-2013-fecha-15-vs-matangas">Fecha 15 - Matangas</a></li>
								<li><a href="/apertura-2013-fecha-16-vs-rolito-fc">Fecha 16 - Rolito</a></li>
								<li><a href="/apertura-2013-fecha-17vs-las-mellizas-hot">Fecha 17 - Las Mellizas Hot</a></li>
							</ul>
						</li>
						<li><a id="swatch-link" href="/fixture.html">Fixture</a></li>
						<li class="dropdown" id="preview-menu">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Amistosos<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/la-naranja-mecaacutenica-vs-hacha-y-tiza.html">Hacha Y Tiza</a></li>
							</ul>
						</li>
						<li><a id="swatch-link" href="/fotos.html">Fotos</a></li>
						<li><a id="swatch-link" href="/estadisticas.html">Estadisticas</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>