@(title: String)

@main(title) {
	<div class="container">
		<h2>Un poco de historia y estadística</h2>
		<p>
			La Naranja Mecanica debutó en el Torneo Centenera en el Apertura 2007 en
			la Categoria "D", en la cual obtuvo su primer y único título, venciendo
			en la final a Los Hijos del Fletero por 7 a 4. Ya en el Clausura 2007 en
			la Categoria "C" no pudo ascender y perdió en la promocion frente
			Agremiados por un global de 13-10. A partir de ahí, ascendió en todas
			las categorías hasta llegar a la máxima, lugar donde quiere permanecer 
			durante mucho tiempo.
		</p>
		
		<h2>Numeros oficiales</h2>
		<ul>
			<li>PARTIDOS JUGADOS: 187</li>
			<li>GANADOS: 132</li>
			<li>EMPATADOS: 11</li>
			<li>PERDIDOS: 44</li>
			<li>GOLES A FAVOR: 1232</li>
			<li>GOLES EN CONTRA: 729</li>
		</ul>
		<p>(*) Tanto en los partidos ganados como en los goles a favor están
			incluidos los partidos en los cuales el rival no se presentó y se salió
			victorioso 3-0.</p>
	
		<h2>Plantel Actual</h2>
	
		<p>Plantel que va a disputar este nuevo Apertura 2013 ya con la dirección técnica de Ariel Polimeni y de Pablo Daniel Hussen.</p>
		
		<h3>Arquero</h3>
			<p><span class="badge badge-orange">1</span> Federico Regojo - 105 PJ - 16 Goles - 2 Figuras</p>
			
		<h3>Defensores</h3>
			<p><span class="badge badge-orange">4</span>  Santiago Fernandez - 72 PJ - 27 Goles - 2 Figuras</p>
			<p><span class="badge badge-orange">5</span>  Horacio Magallanes - 135 PJ - 74 Goles - 8 Figuras</p>
			<p><span class="badge badge-orange">32</span> Guillermo Martinez - 14 PJ - 6 Goles - 1 Figura</p>
			<p><span class="badge badge-orange">0</span>  Maximiliano Marquez - 4 PJ - 3 Goles - 1 Figura</p>
			
		<h3>Delanteros</h3>
			<p><span class="badge badge-orange">7</span>  Rodrigo Saran - 54 PJ - 186 Goles - 25 Figuras</p>
			<p><span class="badge badge-orange">8</span>  Mariano Lopez - 43 PJ - 67 Goles - 5 Figuras</p>
			<p><span class="badge badge-orange">14</span> Ezequiel Sanchez - 145 PJ - 326 Goles - 39 Figuras</p>
		<h3>Dupla técnica</h3>
			<p><span class="badge badge-orange">DT</span> Ariel Polimeni</p>
			<p><span class="badge badge-orange">AC</span> Pablo Hussen</p>

		<h2>Goleadores Históricos</h2>
		<ol>
			<li>Ezequiel Sanchez: 326 Goles (Prom: 2.25)</li>
			<li>Gonzalo Garcia Olalla: 220 Goles (Prom: 3.67)</li>
			<li>Rodrigo Saran: 186 Goles (Prom: 3.44)</li>
			<li>Horacio Magallanes: 74 Goles (Prom: 0.55)</li>
			<li>Mariano Lopez: 67 Goles (Prom: 1.56)</li>
			<li>Santiago Perez: 33 Goles (Prom: 1.74)</li>
			<li>Santiago Fernandez: 27 Goles (Prom: 0.37)</li>
			<li>Renato Picollo: 25 Goles (Prom: 0.62)</li>
			<li>Sebastian Lamarque: 20 Goles (Prom: 0.42)</li>
			<li>Nicolas Schygiel: 20 Goles (Prom: 1)</li>
		</ol>
		<p>(*) Partidos oficiales incluyendo promociones y copa de campeones.</p>
	</div>
}
