@(title: String)(game: Game)

@main(title) {
	<div class="container">
		<div class="row">
			
			<h1 class="pagination-centered">@game.local.name vs @game.visit.name</h1>
			<br/>
			<h4>@game.date</h4>
			
			<div class="row-fluid">
				<span class="span3"></span>
				<span class="span3 pagination-centered"><img src="@routes.Assets.at("images/teams/")@game.local.imageURL"/></span>
				<span class="span3 pagination-centered"><img src="@routes.Assets.at("images/teams/")@game.visit.imageURL"/></span>
				<span class="span3"></span>
			</div>
			
			<div class="row">
					<ul class="scores pos-orange">
						<li class="team">@game.local.name</li>
						<li class="team-goals">@game.localScore</li>
						<li class="team-goals">@game.visitScore</li>
						<li class="team pagination-right">@game.visit.name</li>
					</ul>
				<div id = "scores">
					@for(player <- game.players) {
						<ul class="scores">
							<li class="score">@player.local.score&nbsp;</li>
							<li class="player pagination-left">@player.local.name&nbsp;</li>
							<li class="goals">
								@if(player.local.goals > 0) {
									<img src="@routes.Assets.at("images/ball.png")"/>
									@if(player.local.goals > 1) {
										@{" x" + player.local.goals}
									}								
								}
								
								@if(player.local.card != null) {
									<img src="@routes.Assets.at("images/")@{player.local.card + "-card.png"}"/>
								}
								&nbsp;
							</li>
							<li class="goals">
								@if(player.visit.goals > 0) {
									<img src="@routes.Assets.at("images/ball.png")"/>
									@if(player.visit.goals > 1) {
										@{" x" + player.visit.goals}
									}								
								}
								
								@if(player.visit.card != null) {
									<img src="@routes.Assets.at("images/")@{player.local.card + "-card.png"}"/>
								}
								
								&nbsp;
								
							</li>
							<li class="player pagination-right">@player.visit.name&nbsp;</li>
							<li class="score">@player.visit.score&nbsp;</li>
						</ul>
					}
				</div>
			</div>
			
			<h2>Comentario y resumen del partido</h2>
			<div>
				<h4>@Html(game.summaryTitle)</h4>
				<p>@Html(game.summary)</p>
				<p class="pagination-right">@game.commentarist</p>
			</div>
		</div>
	</div>
	
}