	<div class="list scorers">
		<ul>
			<li>
				<h1>Jugador</h1>
			</li>
			<li>
				<h1>Amarillas</h1>
			</li>
		</ul>
		<ul>
			<li>Trapo Sarán</li>
			<li>3</li>
		</ul>
		<ul>
			<li>Mariano Lope</li>
			<li>1</li>
		</ul>
		<ul>
			<li>Maxi Marquez</li>
			<li>1</li>
		</ul>
		<ul>
			<li>Yiyo Minardi</li>
			<li>1</li>
		</ul>
		<ul>
			<li>Keki Sanchez</li>
			<li>1</li>
		</ul>
		<ul>
			<li>Horacio Ricardo</li>
			<li>0</li>
		</ul>
		<ul>
			<li>Santi Fernandez</li>
			<li>0</li>
		</ul>
	</div>