@(title: String, games: List[Game], playerStats: List[LinkedHashMap[String, String]], year: String, tournament: String, positionList: List[LinkedHashMap[String, String]])

@main(title) {
	<div class="container" id="container">
		<div class="row">
			
				<ul id="tab" class="nav nav-pills">
					<li class="active">
						<a href="#fixture" data-toggle="tab">Fixture</a>
					</li>
	              	<li class="">
	              		<a href="#positions" data-toggle="tab">Posiciones</a>
	              	</li>
	              	<li class="">
	              		<a href="#players" data-toggle="tab">Jugadores</a>
	              	</li>
	            </ul>
	            
	          	<div id="myTabContent" class="tab-content">
              		<div class="tab-pane fade active in" id="fixture">
	              		@fixture(games, year, tournament)
             		</div>
					<div class="tab-pane fade" id="positions">
              			@positions(positionList)
             		</div>
             		<div class="tab-pane fade" id="players">
              			@players(playerStats)
             		</div>
				</div>
				
			</div>
		</div>
	<script>
		$('#tab').click(function (e) {
		 	 e.preventDefault();
		  	$(this).tab('show');
		})
	</script>
}
