@(teams: List[LinkedHashMap[String, String]])	
	<div id="posTable" class="fl">
		<div class="PTheadRow">
			<div class="PTHR_a">equipos</div>
			<div class="PTHR_b">pts</div>
			<div class="PTHR_c">j</div>
			<div class="PTHR_d">g</div>
			<div class="PTHR_e">e</div>
			<div class="PTHR_f">p</div>
			<div class="PTHR_g">gf</div>
			<div class="PTHR_h">gc</div>
			<div class="PTHR_i">dg</div>
		</div>
		@for((team, index) <- teams.zipWithIndex) {
			<div class="PTbodyRow">
				@if(index > 10 && index < 15) {
					<div class="PTBR_a promotion">@(index.toInt + 1)</div>
				} 
				@if(index >= 15) {
					<div class="PTBR_a relegation">@(index.toInt + 1)</div>
				}
				@if(index < 11) {
					<div class="PTBR_a">@(index.toInt + 1)</div>
				}
				<div class="PTBR_b">@team.get("team")</div>
				<div class="PTBR_c">@team.get("pts")</div>
				<div class="PTBR_d">@team.get("j")</div>
				<div class="PTBR_e">@team.get("g")</div>
				<div class="PTBR_f">@team.get("e")</div>
				<div class="PTBR_g">@team.get("p")</div>
				<div class="PTBR_h">@team.get("gf")</div>
				<div class="PTBR_i">@team.get("gc")</div>
				<div class="PTBR_j">@(team.get("gf").toInt - team.get("gc").toInt)</div>
			</div>
		}
		<div class="clear"><!-- --></div>
	
	</div>