@()
<div id="posTable" class="fl">
	<div class="PTheadRow">
		<div class="PTHR_a">Equipos</div>
		<div class="PTHR_b">pts</div>
		<div class="PTHR_c">j</div>
		<div class="PTHR_d">g</div>
		<div class="PTHR_e">e</div>
		<div class="PTHR_f">p</div>
		<div class="PTHR_g">gf</div>
		<div class="PTHR_h">gc</div>
		<div class="PTHR_i">dg</div>
	</div>
	<div class="PTbodyRow pos-orange">
		<div class="PTBR_a">1</div>
		<div class="PTBR_b">La Naranja Mecánica</div>
		<div class="PTBR_c">14</div>
		<div class="PTBR_d">7</div>
		<div class="PTBR_e">7</div>
		<div class="PTBR_f">0</div>
		<div class="PTBR_g">0</div>
		<div class="PTBR_h">50</div>
		<div class="PTBR_i">19</div>
		<div class="PTBR_j">31</div>
	</div>
	<div class="PTbodyRow">
		<div class="PTBR_a" style="background-color:; color:">2</div>
		<div class="PTBR_b">Humildad y Talento</div>
		<div class="PTBR_c">12</div>
		<div class="PTBR_d">7</div>
		<div class="PTBR_e">6</div>
		<div class="PTBR_f">0</div>
		<div class="PTBR_g">1</div>
		<div class="PTBR_h">39</div>
		<div class="PTBR_i">16</div>
		<div class="PTBR_j">23</div>
	</div>
	<div class="PTbodyRow">
		<div class="PTBR_a" style="background-color:; color:">3</div>
		<div class="PTBR_b">Las Mellizas Hot</div>
		<div class="PTBR_c">12</div>
		<div class="PTBR_d">7</div>
		<div class="PTBR_e">6</div>
		<div class="PTBR_f">0</div>
		<div class="PTBR_g">1</div>
		<div class="PTBR_h">36</div>
		<div class="PTBR_i">18</div>
		<div class="PTBR_j">18</div>
	</div>
	<div class="PTbodyRow">
		<div class="PTBR_a" style="background-color:; color:">4</div>
		<div class="PTBR_b">Rolito F.C.</div>
		<div class="PTBR_c">11</div>
		<div class="PTBR_d">7</div>
		<div class="PTBR_e">5</div>
		<div class="PTBR_f">1</div>
		<div class="PTBR_g">1</div>
		<div class="PTBR_h">65</div>
		<div class="PTBR_i">37</div>
		<div class="PTBR_j">28</div>
	</div>
	<div class="PTbodyRow">
		<div class="PTBR_a" style="background-color:; color:">5</div>
		<div class="PTBR_b">Hacha y Tiza</div>
		<div class="PTBR_c">10</div>
		<div class="PTBR_d">7</div>
		<div class="PTBR_e">5</div>
		<div class="PTBR_f">0</div>
		<div class="PTBR_g">2</div>
		<div class="PTBR_h">60</div>
		<div class="PTBR_i">25</div>
		<div class="PTBR_j">35</div>
	</div>
	<div class="PTbodyRow">
		<div class="PTBR_a" style="background-color:; color:">6</div>
		<div class="PTBR_b">La Venosa</div>
		<div class="PTBR_c">10</div>
		<div class="PTBR_d">7</div>
		<div class="PTBR_e">4</div>
		<div class="PTBR_f">2</div>
		<div class="PTBR_g">1</div>
		<div class="PTBR_h">36</div>
		<div class="PTBR_i">15</div>
		<div class="PTBR_j">21</div>
	</div>
	<div class="PTbodyRow">
		<div class="PTBR_a" style="background-color:; color:">7</div>
		<div class="PTBR_b">Smirnoff F.C.</div>
		<div class="PTBR_c">10</div>
		<div class="PTBR_d">7</div>
		<div class="PTBR_e">4</div>
		<div class="PTBR_f">2</div>
		<div class="PTBR_g">1</div>
		<div class="PTBR_h">32</div>
		<div class="PTBR_i">20</div>
		<div class="PTBR_j">12</div>
	</div>
	<div class="PTbodyRow">
		<div class="PTBR_a" style="background-color:; color:">8</div>
		<div class="PTBR_b">Paletas Tristes</div>
		<div class="PTBR_c">9</div>
		<div class="PTBR_d">7</div>
		<div class="PTBR_e">4</div>
		<div class="PTBR_f">1</div>
		<div class="PTBR_g">2</div>
		<div class="PTBR_h">29</div>
		<div class="PTBR_i">21</div>
		<div class="PTBR_j">8</div>
	</div>
	<div class="PTbodyRow">
		<div class="PTBR_a" style="background-color:; color:">9</div>
		<div class="PTBR_b">Flojo Licuado</div>
		<div class="PTBR_c">8</div>
		<div class="PTBR_d">7</div>
		<div class="PTBR_e">3</div>
		<div class="PTBR_f">2</div>
		<div class="PTBR_g">2</div>
		<div class="PTBR_h">21</div>
		<div class="PTBR_i">20</div>
		<div class="PTBR_j">1</div>
	</div>
	<div class="PTbodyRow">
		<div class="PTBR_a" style="background-color:; color:">10</div>
		<div class="PTBR_b">Cristal F.C.</div>
		<div class="PTBR_c">7</div>
		<div class="PTBR_d">7</div>
		<div class="PTBR_e">3</div>
		<div class="PTBR_f">1</div>
		<div class="PTBR_g">3</div>
		<div class="PTBR_h">23</div>
		<div class="PTBR_i">41</div>
		<div class="PTBR_j">-18</div>
	</div>
	<div class="PTbodyRow">
		<div class="PTBR_a" style="background-color:; color:">11</div>
		<div class="PTBR_b">Matangas</div>
		<div class="PTBR_c">6</div>
		<div class="PTBR_d">7</div>
		<div class="PTBR_e">2</div>
		<div class="PTBR_f">2</div>
		<div class="PTBR_g">3</div>
		<div class="PTBR_h">24</div>
		<div class="PTBR_i">32</div>
		<div class="PTBR_j">-8</div>
	</div>
	<div class="PTbodyRow">
		<div class="PTBR_a promotion">12</div>
		<div class="PTBR_b">Pelos F.C.</div>
		<div class="PTBR_c">5</div>
		<div class="PTBR_d">7</div>
		<div class="PTBR_e">2</div>
		<div class="PTBR_f">1</div>
		<div class="PTBR_g">4</div>
		<div class="PTBR_h">18</div>
		<div class="PTBR_i">25</div>
		<div class="PTBR_j">-7</div>
	</div>
	<div class="PTbodyRow">
		<div class="PTBR_a promotion">13</div>
		<div class="PTBR_b">Descanso Verde</div>
		<div class="PTBR_c">4</div>
		<div class="PTBR_d">7</div>
		<div class="PTBR_e">1</div>
		<div class="PTBR_f">2</div>
		<div class="PTBR_g">4</div>
		<div class="PTBR_h">21</div>
		<div class="PTBR_i">55</div>
		<div class="PTBR_j">-34</div>
	</div>
	<div class="PTbodyRow">
		<div class="PTBR_a promotion">14</div>
		<div class="PTBR_b">Las Águilas de Niupi</div>
		<div class="PTBR_c">3</div>
		<div class="PTBR_d">7</div>
		<div class="PTBR_e">1</div>
		<div class="PTBR_f">1</div>
		<div class="PTBR_g">5</div>
		<div class="PTBR_h">28</div>
		<div class="PTBR_i">38</div>
		<div class="PTBR_j">-10</div>
	</div>
	<div class="PTbodyRow">
		<div class="PTBR_a promotion">15</div>
		<div class="PTBR_b">La Pelota no Dobla</div>
		<div class="PTBR_c">3</div>
		<div class="PTBR_d">7</div>
		<div class="PTBR_e">1</div>
		<div class="PTBR_f">1</div>
		<div class="PTBR_g">5</div>
		<div class="PTBR_h">17</div>
		<div class="PTBR_i">33</div>
		<div class="PTBR_j">-16</div>
	</div>
	<div class="PTbodyRow">
		<div class="PTBR_a promotion">16</div>
		<div class="PTBR_b">LMDS</div>
		<div class="PTBR_c">2</div>
		<div class="PTBR_d">7</div>
		<div class="PTBR_e">1</div>
		<div class="PTBR_f">0</div>
		<div class="PTBR_g">6</div>
		<div class="PTBR_h">19</div>
		<div class="PTBR_i">57</div>
		<div class="PTBR_j">-38</div>
	</div>
	<div class="PTbodyRow">
		<div class="PTBR_a relegation">17</div>
		<div class="PTBR_b">Tarmogoyf FK</div>
		<div class="PTBR_c">0</div>
		<div class="PTBR_d">7</div>
		<div class="PTBR_e">0</div>
		<div class="PTBR_f">0</div>
		<div class="PTBR_g">7</div>
		<div class="PTBR_h">1</div>
		<div class="PTBR_i">21</div>
		<div class="PTBR_j">-20</div>
	</div>
	<div class="PTbodyRow">
		<div class="PTBR_a relegation">18</div>
		<div class="PTBR_b">Simpato</div>
		<div class="PTBR_c">0</div>
		<div class="PTBR_d">7</div>
		<div class="PTBR_e">0</div>
		<div class="PTBR_f">0</div>
		<div class="PTBR_g">7</div>
		<div class="PTBR_h">14</div>
		<div class="PTBR_i">40</div>
		<div class="PTBR_j">-26</div>
	</div>

	<div class="clear"/>

</div>
