@()
<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">La Naranja Mecánica</a>
				
				<div class="nav-collapse" id="main-menu">
					<ul class="nav" id="main-menu-left">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Clausura 2013<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/estadisticas/clausura/2013"><b>Posiciones, Fixture y Datos</a></b></li>
								<li><a href="/partido/clausura/2013/1">Fecha 1 - Matangas</a></li>
								<li><a href="/partido/clausura/2013/2">Fecha 2 - Pelos FC</a></li>
								<li><a href="/partido/clausura/2013/3">Fecha 3 - Cristal</a></li>
								<li><a href="/partido/clausura/2013/4">Fecha 4 - Hacha y Tiza</a></li>
								<li><a href="/partido/clausura/2013/5">Fecha 5 - Aldo Bonzi FC</a></li>
								<li><a href="/partido/clausura/2013/6">Fecha 6 - Descanso Verde</a></li>
								<li><a href="/partido/clausura/2013/7">Fecha 7 - Smirnoff FC</a></li>
								<li><a href="/partido/clausura/2013/8">Fecha 8 - Las Aguilas de Niupi</a></li>
								<li><a href="/partido/clausura/2013/9">Fecha 9 - Termidor FC</a></li>
								<li><a href="/partido/clausura/2013/10">Fecha 10 - La Pelota No Dobla</a></li>
								<li><a href="/partido/clausura/2013/11">Fecha 11 - Flojo Licuado</a></li>
								<li><a href="/partido/clausura/2013/12">Fecha 12 - Paletas Tristes</a></li>
								<li><a href="/partido/clausura/2013/13">Fecha 13 - Rolito</a></li>
								<li><a href="/partido/clausura/2013/14">Fecha 14 - Las Mellizas Hot</a></li>
								<li><a href="/partido/clausura/2013/15">Fecha 15 - Me lleva el Chanfle</a></li>
								<li><a href="/partido/clausura/2013/16">Fecha 16 - Resto del Mundo</a></li>
								<li><a href="/partido/clausura/2013/17">Fecha 17 - Humildad y Talento</a></li>
							</ul>
						</li>
						
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">Estadísticas <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li class="dropdown-submenu">
									<a href="#">Apertura 2013</a>
									<ul class="dropdown-menu">
										<li><a href="/estadisticas/apertura/2013"><b>Posiciones, Fixture y Datos</a></b></li>
										<li><a href="/partido/apertura/2013/1">Fecha 1 - Descanso Verde</a></li>
										<li><a href="/partido/apertura/2013/2">Fecha 2 - Hacha y Tiza</a></li>
										<li><a href="/partido/apertura/2013/3">Fecha 3 - Los Mismos de Siempre</a></li>
										<li><a href="/partido/apertura/2013/4">Fecha 4 - Aguilas de Niupi</a></li>
										<li><a href="/partido/apertura/2013/5">Fecha 5 - Pelos FC</a></li>
										<li><a href="/partido/apertura/2013/6">Fecha 6 - Cristal FC</a></li>
										<li><a href="/partido/apertura/2013/7">Fecha 7 - Paletas Tristes</a></li>
										<li><a href="/partido/apertura/2013/8">Fecha 8 - Flojo Licuado</a></li>
										<li><a href="/partido/apertura/2013/9">Fecha 9 - La Venosa</a></li>
										<li><a href="/partido/apertura/2013/10">Fecha 10 - La Pelota no Dobla </a></li>
										<li><a href="/partido/apertura/2013/11">Fecha 11 - Simpato</a></li>
										<li><a href="/partido/apertura/2013/12">Fecha 12 - Humildad y Talento</a></li>
										<li><a href="/partido/apertura/2013/13">Fecha 13 - Smirnoff FC</a></li>
										<li><a href="/partido/apertura/2013/14">Fecha 14 - Tarmogoyf FK</a></li>
										<li><a href="/partido/apertura/2013/15">Fecha 15 - Matangas</a></li>
										<li><a href="/partido/apertura/2013/16">Fecha 16 - Rolito</a></li>
										<li><a href="/partido/apertura/2013/17">Fecha 17 - Las Mellizas Hot</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="#">Amistosos</a>
									<ul class="dropdown-menu">
										<li><a href="/amistoso/hacha-y-tiza">Hacha Y Tiza</a></li>
									</ul>
								</li>
							</ul>
						</li>
						
						<li><a id="swatch-link" href="/fotos">Fotos</a></li>
						<li><a id="swatch-link" href="/datos">Algunos Datos</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>